{{#each events}}
<h2>{{this.title}}</h2>

<h2>{{this.place}}</h2>
<h2>{{this.date}}</h2>
<h2>{{this.time}}</h2>
<a href="/event/showevent/{{this._id}}">View Event</a>
<a href="/event/deleteevent/{{this._id}}">Delete event</a>
{{/each}}

<br>

<a href="/event"><button>Create a new event</button></a>
